# Project Specific

# Dev assets
npm-debug.log
/.phpintel/*
.vagrant
/html
yarn-error.log
/node_modules
*.css.map
*.js.map

# Various IDE &#038; OS files that should never be committed
.DS_Store
*.swp
*.lock
__MACOSX
.idea
/.idea/*
/nbproject/*
.project
.buildpath
.thumbs
Thumbs.db
build.properties
/.project
/.settings
/.buildpath
/_notes/*
/*.sql
/*.sublime-project
/*.sublime-workspace
/.brackets.json
/public_html/access.log
/public_html/error.log
/public_html/shop/access.log
/public_html/shop/error.log
/log.txt
